Section: main
Priority: optional
Homepage: apt.cs.colorado.edu
Standards-Version: 3.9.5
Package: cu-cs-csci-2400-nox
Maintainer: Ethan Hanner <ethan.hanner@colorado.edu>
Pre-Depends: cu-cs-base-nox | cu-cs-base-x, cu-cs-csci-2400-common
Depends: 
Architecture: all
Copyright: copyright
Changelog: changelog
Postinst: postinst
Prerm: prerm
Files: 
Description: NoX Packages for University of Colorado CSCI-2400 Course 
